{% extends 'base.html' %}
{% load static %}
{% load bootstrap_pagination %}
{% block style %}
    <style>
        .errorlist > li {
            color: #D8000C;
        }

        textarea {
            resize: none;
        }
        div .modal-content {
            float: none;
        }
    </style>
{% endblock %}
{% block content %}

    <section class="home section image-slider" id="home" style="max-height: 300px;">
        <div class="home-slider text-center">
            <div class="swiper-wrapper" style="max-height: 300px;">
                {% for image in home_images %}
                    <div class="swiper-slide" style="background-color: white; max-height: 300px;">
                        <img src="{{ image.image.url }}" alt="store logo" style="max-height: 350px;">
                        <h2 class="home-slider-title-main black-color">{{ image.text }}</h2>
                        <a class="arrow bounce text-center" href="#about" style="color: #0d0d0d">
                            <span class="ti-mouse"></span> <span class="ti-angle-double-down"></span>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="home-pagination"></div>
            <div class="home-slider-next right-arrow-negative"><span class="ti-arrow-right"></span></div>
            <div class="home-slider-prev left-arrow-negative"><span class="ti-arrow-left"></span></div>
        </div>
    </section>
    <section class="container-fluid about white-color no-padding" id="about">
        <div class="about-background about-background-2 row no-margin">
            <div class="col-md-4 about-white-box col-md-offset-4">
                <img src="{{ person.image.url }}" alt="person image" style="border-radius: 50%; max-width: 250px;">
                <h2 class="section-claim wow fadeInDown" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown; font-family: Nanum Myeongjo;">
                    {{ person.name }}
                </h2>
                <p style="font-family: Nanum Myeongjo;">{{ person.description }}</p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </section>

    <section class="text-center shadow section section-min">
        <div class="about-counter" id="about-counter">
            <div class="container">
                <div class="row">
                    <!-- SINGLE COUNTER ITEM -->
                    <div class="col-md-4 wow fadeInLeft about-counter-single" data-wow-delay="0.2s"
                         data-wow-duration="1s"
                         data-wow-offset="0">
                        <div class="counter"><span class="ti-crown icon"></span>
                            <h2 class="timer">20</h2>
                            <p style="font-family: Nanum Myeongjo;"> 대회 입상 </p>
                        </div>
                    </div>
                    <!-- / SINGLE COUNTER ITEM -->

                    <!-- SINGLE COUNTER ITEM -->
                    <div class="col-md-4 wow fadeInLeft about-counter-single" data-wow-delay="0.4s"
                         data-wow-duration="1s"
                         data-wow-offset="0">
                        <div class="counter"><span class="ti-user icon"></span>
                            <h2 class="timer">250</h2>
                            <p style="font-family: Nanum Myeongjo;"> 교육한 회원 </p>
                        </div>
                    </div>
                    <!-- / SINGLE COUNTER ITEM -->

                    <!-- SINGLE COUNTER ITEM -->
                    <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1s"
                         data-wow-offset="0">
                        <div class="counter"><span class="ti-comments-smiley icon"></span>
                            <h2 class="timer">240</h2>
                            <p style="font-family: Nanum Myeongjo;"> 만족한 회원 </p>
                        </div>
                    </div>
                </div>
                <!-- / SINGLE COUNTER ITEM -->
            </div>
        </div>
    </section>

    <section class="post-list" id="beforeafter"
             style="background-image: none;background-color: black; max-height: 1000px;">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading" style="color: white">Before & After</h3>
                </div>
                <div class="post-slider col-md-12">
                    <!-- BA CAROSUEL -->
                    <div class="swiper-wrapper">
                        {% for ba in before_after %}
                            <!-- SINGLE BA ITEM -->
                            <div class="swiper-slide">
                                <div class="post-entry wow fadeInUp">
                                    <span class="post-entry-cover"
                                          style="background-image:url({{ ba.image.url }}); height: 300px;">
                                    </span>
                                    <h3 class="h3 text-center"
                                        style="color: white;font-family: Nanum Myeongjo;">{{ ba.period }}</h3>
                                </div>
                            </div>
                            <!-- / SINGLE BA ITEM -->
                        {% endfor %}
                    </div>
                    <!-- / BA CAROSUEL -->
                    <!-- CAROUSEL CONTROLS -->
                    <div class="post-pagination text-center"></div>
                    <div class="post-slider-next right-arrow-negative">
                        <span class="ti-arrow-right"></span>
                    </div>

                    <div class="post-slider-prev left-arrow-negative">
                        <span class="ti-arrow-left"></span>
                    </div>
                    <!-- / CAROUSEL CONTROLS -->
                </div>
            </div>
        </div>
    </section>
    <section class="post-list" id="workout" style="max-height: 1000px;">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading">Work Out</h3>
                </div>

                <div class="post-slider col-md-12">
                    <!-- WORKOUT CATEGORY CAROSUEL -->
                    <div class="swiper-wrapper">
                        {% for category in categories %}
                            <!-- SINGLE CATEGORY ITEM -->
                            <div class="swiper-slide" id="{{ category.name }}">
                                <div class="post-entry wow fadeInUp">
                                    <a href="#" data-toggle="modal" data-target="#workout-{{ category.name }}">
									<span class="post-entry-cover"
                                          style="background-image:url({{ category.image.url }});">
									</span>
                                    </a>
                                    <a class="h3 text-center" href="#" data-toggle="modal"
                                       data-target="#workout-{{ category.name }}" style="font-family: Nanum Myeongjo">
                                        {{ category.get_name_display }}
                                    </a>
                                    <a href="#" data-toggle="modal" data-target="#workout-{{ category.name }}"
                                       class="post-entry-more" style="font-family: Nanum Myeongjo">
                                        운동 보기
                                        <span class="ti-arrow-right icon"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- / SINGLE CATEGORY ITEM -->
                        {% endfor %}
                    </div>
                    <!-- / WORK OUT CATEGORY CAROSUEL -->

                    <!-- CAROUSEL CONTROLS -->
                    <div class="post-pagination text-center"></div>
                    <div class="post-slider-next right-arrow-negative">
                        <span class="ti-arrow-right"></span>
                    </div>

                    <div class="post-slider-prev left-arrow-negative">
                        <span class="ti-arrow-left"></span>
                    </div>
                    <!-- / CAROUSEL CONTROLS -->
                </div>
            </div>
            {% for category in categories %}
                <!-- WORKOUT MODAL -->
                <div class="modal fade" id="workout-{{ category.name }}" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <!-- WORKOUT MODAL CONTENT -->
                        <div class="modal-content shadow">
                            <a class="close" data-dismiss="modal"> <span class="ti-close"></span></a>

                            <div class="modal-body">
                                <div class="post-entry post-entry-modal">
                                    <h3 class="section-heading">{{ category.get_name_display }}</h3>
                                    {% for workout in category.weightworkout_set.all %}
                                        <span class="post-entry-meta">
                                            <a href="{{ workout.url }}">
                                                <p class="post-entry-author-name pull-left"
                                                   style="font-family: Nanum Myeongjo">{{ workout.name }}</p>
                                            </a>
                                        </span>
                                        <p>
                                            <a href="{{ workout.url }}" style="display: inline-block">
                                                <img src="{{ workout.thumbnail.url }}" alt="{{ workout.name }}-image">
                                            </a>
                                        </p>
                                        <p style="font-family: Nanum Myeongjo;"> Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                            aute
                                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                            nulla
                                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                            officia
                                            deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua.
                                            Ut enim ad minim veniam,
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- / WORKOUT MODAL CONTENT -->
                    </div>
                </div>
                <!-- / WORKOUT MODAL -->
            {% endfor %}
        </div>
    </section>

    <section class="post_list" style="background-image: none; background-color: black;" id="qa">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading">Q & A</h3>
                </div>
                <div class="post-entry wow fadeInUp">
                    <div class="row-demo">
                        <div class="col-md-12 demo-item">
                            <div class="list-group">
                                {% for question in questions %}
                                    <a href="#" data-toggle="modal" data-target="#question-{{ question.id }}"
                                       style="font-family: 'Nanum Myeongjo'">
                                        <button type="button" class="list-group-item" style="height: 50px;">
                                            {{ question.title|truncatechars:20 }}
                                        </button>
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="col-md-12 text-center">
                                {% bootstrap_paginate questions range=10 show_prev_next="false" show_first_last="true" url_anchor="qa" %}
                            </div>
                        </div>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#question-form"
                       class="post-entry-more pull-right btn btn-default" style="font-family: 'Nanum Myeongjo'">
                        문의 하기
                    </a>
                </div>
            </div>
            <!-- PostForm MODAL -->
            <div class="modal fade" id="question-form" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content shadow">
                        <a class="close" data-dismiss="modal"> <span class="ti-close"></span></a>
                        <div class="modal-body">
                            <div class="post-entry post-entry-modal">
                                <h3 class="section-heading" style="font-family: 'Nanum Myeongjo'">문의 하기</h3>
                                <form action="{% url 'index' %}" method="post">
                                    {% csrf_token %}
                                    {{ question_form.as_p }}
                                    <button class="btn btn-default pull-right">문의 하기</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / PostForm MODAL -->

            <!-- Question MODAL -->
            {% for question in questions %}
            <div class="modal fade" id="question-{{ question.id }}" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content shadow">
                        <a class="close" data-dismiss="modal"> <span class="ti-close"></span></a>
                        <div class="modal-body">
                            <div class="post-entry post-entry-modal">
                                <h3 class="section-heading" style="font-family: 'Nanum Myeongjo'">
                                    {{ question.title }}
                                </h3>
                                <p class="text-right"><small>{{ question.updated_at }}</small></p>
                                <p class="text-right"><small>{{ question.name }}</small></p>
                                <p class="text-center" style="font-family: 'Nanum Myeongjo'">
                                    {{ question.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- / Question MODAL -->
        </div>
    </section>

    <section class="contact contact-with-map" style="background-image: none; background-color: black;">
        <!-- GOOGLE MAP CONTAINER -->
        <div class="google-maps" id="location">
            <span id="lat">{{ person.latitude }}</span>
            <span id="lng">{{ person.longitude }}</span>
            <div id="map-canvas"></div>
            <!-- fixme 주소 찍어주기 -->
        </div>
        <!-- / GOOGLE MAP CONTAINER -->
        <div class="container" id="contact">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading">contact</h3>
                </div>
                <div class="col-md-6 col-md-offset-5">
                    <div class="contact-data">
                        <ul class="white-color">
                            <li><span class="ti-mobile icon"></span><a
                                    href="tel:{{ person.phone_num }}">{{ person.phone_num }}</a></li>
                            <li><span class="ti-email icon"></span><a
                                    href="mailto:{{ person.mail }}">{{ person.mail }}</a></li>
                            <li><span class="ti-instagram icon"></span><a href="https://www.instagram.com/teamvouloir/">teamvouloir</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block script %}
    {% if question_form.errors %}
        <script>
            $(function () {
                $('#question-form').modal({show: true});
            });
        </script>
    {% endif %}
{% endblock %}